.side-panel {
    width: 29vw;
    height: 100vh;
    background: $side-panel-bg;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    overflow-y: auto;
    overflow-x: hidden;

    padding: 10px 15px 0;

    font-family: "Exo 2", sans-serif;

    z-index: 10;
}

.side-panel__collapse-button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    float: right;
}

.side-panel__tabs {

    isolation: isolate;

    display: flex;
    justify-content: space-around;
    height: 3.5rem;
    width: 100%;
    border-block-end: 1px solid rgb(170, 170, 170);
    
    margin-top: 50px;

    // Скрытие радиокнопок
    input {
        display: none;
    }

    // Настройка текста вкладок
    .side-panel__tab-label {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        color: $tabs-label-unfocus;
        font-size: 1.1cqw;
        font-weight: 600;
        
        cursor: pointer;

        transition: color 0.5s ease-in-out;

        &::after {
            pointer-events: none;
            position: absolute;
            inset: 0 0 0 -10%;
            content: "";
            width: 120%;
            // border: 1px solid #FFFFFF;
            border-radius: 0.5rem 0.5rem 0 0;
            border-block-end: none;
            background-color: $active-tab-bg;

            z-index: -1; 
        }
    }
    // Заголовок выбранной вкладки становится более ярким
    input:checked + label {
        color: $tabs-label-focus;

        &::after {
            height: 100%;
            border-left: 1px solid rgb(170, 170, 170);
            border-right: 1px solid rgb(170, 170, 170);
            border-top: 1px solid rgb(170, 170, 170);

        }
    }

}

// Контент неактивных вкладок скрывается
.side-panel_description-content,
.side-panel_characteristics-content,
.side-panel_instruments-content {
    display: none;
}

// Отображается контента только выбранной вкладки
.side-panel:has(:checked:nth-of-type(1)) .tab-content-1,
.side-panel:has(:checked:nth-of-type(2)) .tab-content-2,
.side-panel:has(:checked:nth-of-type(3)) .tab-content-3 {
        display: block;
}

.side-panel__top-line-container {
    display: block;
}

.side-panel__top-lines {
    li + li {
        display: block;
        margin-top: 10px;
    }
}

.side-panel__top-lines-row {
    display: flex;
    justify-content: space-between;
}

.side-panel__object-name {
    font-size: 36px;
    font-weight: bold;
    color: $object-header;
}

.side-panel__object-type {
    font-size: 16px;
    font-weight: bold;
    color: $accent; 
    text-transform: uppercase;
}

.side-panel_tabs-content {
    margin-top: 30px;

    div + div {
        margin-top: 25px;
    }
}

// Chapters
.chapter {
    margin-top: 5px;

    .side-panel__chapter-header-line {
        display: flex;
        align-items: center;
        column-gap: 5px;
        cursor: pointer;
    }


    .folded-chapter-plus-sign {
        margin-bottom: 5px;
    }
}

    // Folded chapter
.folded-chapter {
    cursor: pointer;

    transition: background-color 0.2s ease-in-out;    
    &:hover {
        background-color: $folded-chapter-hover-bg;
    }

    .folded-chapter-plus-sign {
        margin-bottom: -1px;
    }

    .side-panel__chapter-header {
        margin-bottom: 3px;
    }
    margin-top: 10px;
    border-bottom: 1px solid $folded-chapter-outline;

}

.side-panel__chapter-header {
    font-weight: bold;
    font-size: 25px;
    color: $chapter-header;

    margin-bottom: 10px;
}
    // Description chapter

.side-panel__object-description-paragraph {
    font-weight: lighter;
    font-size: 18px;
    color: $plain-text;

    margin-bottom: 10px;
}

.side-panel__chapter-collapse-button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
 
    padding: 1em;
    height: 30px;
    border-radius: 5px;
    background: $button-bg;
 
    font-size: 18px;
    color: $button-text-icon;

    margin-top: 30px;
   
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
 
    &:hover, &:focus {
    background-color: #3d3d3d;
    } 
    
    &:active {
    background-color: #222222;
    }
}

    // Features chapter

.side-panel__object-features-groups-list {
    ul + ul {
        margin-top: 25px;
    }
}

.side-panel__object-features-group li:nth-of-type(n) {
    color: $plain-text;
}

.side-panel__object-features-group li:nth-of-type(2n) {
    color: $features-list-visual-highlight;
}

.side-panel__object-features-group .side-panel__object-feature + .side-panel__object-feature {
    margin-top: 8px;
}

.side-panel__object-features-group-header {
    font-weight: 600;
    font-size: 20px;
    color: $group-header;
    margin-bottom: 10px;
}

.side-panel__object-feature {
    display: flex;
    column-gap: 10px;
}

.side-panel__object-feature-name {
    // font-size: 16px;
    font-weight: 500;
}

.side-panel__object-feature-value {
    // font-size: 16px;
    font-weight: 300;
}

// Список инструментов

.side-panel__instruments-list {
    li {
        border-bottom: 1px solid $instrument-border-color;
        cursor: pointer;
    }
}

.side-panel__instrument {
    width: 100%;
    height: 4.3em;
    margin: 0;
    padding-left: 1em;
    display: flex;
    align-items: center;
    justify-content: left;

    transition: background-color 0.1s ease-in;

    &:hover {
        background-color: $instrument-hover-bg;
    }
}

.side-panel_instrument-icon-container {
    margin-right: 15px;
}

.side-panel__instrument-name {
    font-size: 20px;
    color: $plain-text;
}

.side-panel__panel-collapse-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 36px;
    height: 36px;
    
    border-radius: 5px;

    transition: background-color 0.1s ease-in, box-shadow 0.2s ease-in;
    &:hover {
        background-color: $button-bg;
        -webkit-box-shadow: 0px 0px 4px 3px $button-bg;
        -moz-box-shadow: 0px 0px 4px 3px $button-bg;
        box-shadow: 0px 0px 4px 3px $button-bg;
    }
}

.collapse-panel-icon--horizontal-panel {
    width: 32px;
    height: 32px;
}

.side-panel__horizontal-panel-collapse-button {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(270deg);

    border-radius: 15%;
    background-color: $button-bg;

    display: none;
}

// Expand panel buttons
.expand-side-panel-button {
    display: block;
    padding-left: 1px;
    height: 32px;
    margin: 25px;

    cursor: pointer;

    border-radius: 5px;

    z-index: 10;

    .expand-side-panel-icon {
        width: 32px;
        height: 32px;

        transform: rotate(180deg);
    }
}

// Media queries
// Tablet
@media(max-width: $tablet-max-width ) {
    .side-panel {
        width: calc(100vw - 30px);
        height: 38vh;
    }

    .side-panel__tabs .side-panel__tab-label {
        font-size: clamp(12px, 3cqw, 30px);
    }

    .side-panel__top-line-container {
        display: flex;
        justify-content: space-between;
    }

    .side-panel__top-lines {
        display: flex;
        column-gap: 30px;
        align-items: center;
    }


    // Vertical panel collapse and expand buttons are being hidden
    .side-panel__top-line-сontainer {
        position: relative;
    }

    .side-panel__panel-collapse-button {
        display: block;
        position: absolute;
        right: 0;

        transform: rotate(-90deg);
    }

    .expand-side-panel-button {
        display: block;
        position: absolute;

        bottom: 10px;
        right: 10px;

        transform: rotate(-90deg);
    }

    .side-panel__chapters-group-list {
        margin-top: 5px;
    }

    // Chapters
    // Features chapter
    .side-panel__object-features-group {

        .side-panel__object-features-group-header {
            font-size: clamp(16px, 3cqw, 22px);
        }

        .side-panel__object-feature {
            font-size: clamp(16px, 2.5cqw, 20px);
        }


        // * {
        //     font-size: 20px;
        // }

        .side-panel__object-feature {
            column-gap: 20px;
        }
    }

    // Top right menu
    .top-right-menu {
        margin: 0;
    }
}

// Mobile
@media (max-width: $mobile-max-width) {
    .side-panel {
        padding: 15px;
    }

    .side-panel__object-name {
        font-size: 34px;
    }

    .side-panel__object-type {
        font-size: 14px;
    }
    
    .side-panel__chapter-header {
        font-size: 18px;
    }

    .folded-chapter-plus-sign {
        width: 16px;
        height: 16px;
    }

    .side-panel__object-description-paragraph {
        font-size: 16px;
    }
}